.section fieldset {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
    padding: 1rem;
}
.section p {
    color: #ff0000;
    font-weight: 600;
    text-align: center;
}
.section input {
    width: 100%;
    margin: .5rem 0;
    border-radius: 3px;
    height: 1.7rem;
    background-color: #f0f8ff;
}
.section textarea {
    width: 100%;
    margin: .5rem 0;
    border-radius: 3px;
    background-color: #f0f8ff;
}
.section button {
    width: 100%;
    height: 2.5rem;
    background-color: darkblue;
    border-radius: 5px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.1rem;
    margin-top: 1rem;  
}
.section button:disabled {
    background-color: rgb(141, 141, 141);
}